/**
 * Disable word-wrap for "<pre><code>" code blocks - Make them horizontally scrollable.
 * @author TheCSDev
 */
* pre code
{
	display: block !important;
	overflow-x: auto !important;
	white-space: pre !important;
}
